<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cognitiva | Watson STT</title>



  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>This is the Cognitiva Speech to Text Demo!</h2>
    <p>Let's hope it works.</p>

    <audio id="player" controls></audio>
    <script src="javascripts/socket.io.js"></script>
    <script>
      //Documentación: https://developers.google.com/web/fundamentals/native-hardware/recording-audio/
      var player = document.getElementById('player');

      var socket = io('http://localhost:3000');

      let bufferToSend = '';
      var handleSuccess = function(stream) {
        var context = new AudioContext();
        var input = context.createMediaStreamSource(stream)
        var processor = context.createScriptProcessor(1024,1,1);

        //Esto en la docomuentación está erroneamente como source.connect(processor);
        input.connect(processor);
        processor.connect(context.destination);

        processor.onaudioprocess = function(e){
          //Tomo la data de e.inputBuffer de lado izquierdo y la convierto a Buffer con convertFloat32toInt16
          bufferToSend = convertFloat32ToInt16(e.inputBuffer.getChannelData(0))
          //console.log(bufferToSend);


        };
      };

      navigator.mediaDevices.getUserMedia({ audio: true, video: false })
          .then(handleSuccess);


      socket.on('connect', function () {
        /*
        socket.send('hi');
        socket.emit('audioBufferFromClient', {bufferToSend})

        socket.on('message', function (msg) {
          console.log("Message recieved in client");
        });

        socket.emit('createMessage', {
          to:"John",
          from:"Mike"
        })
        */
      });

      //---------- Event Listeners ----------
      socket.on('newMessage', function(data) {
        console.log("New message: ",data);
      })
      socket.on('disconnect', function() {
        console.log("Disconnected from server");
      })



      function convertFloat32ToInt16(buffer) {
        l = buffer.length;
        buf = new Int16Array(l);
        while (l--) {
          buf[l] = Math.min(1, buffer[l])*0x7FFF;
        }
        return buf.buffer;
      }

    </script>
  </body>
</html>
