<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cognitiva | Watson STT</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>This is the Cognitiva Speech to Text Demo!</h2>
    <p>Let's hope it works.</p>

    <audio id="player" controls></audio>
    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/watson-speech.js"></script>
    <script>
    let recognizeMicrophoneFN = (token) => {
      return new Promise(
        (resolve, reject) => {
          stream = WatsonSpeech.SpeechToText.recognizeMicrophone({token:token,format:false});
          resolve(stream)
        }
      )
    }

      var token;
      var recognizeStreamVar;
      $.get( "/token", function(data) {
          token = data;
          // var wsURI = 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?watson-token=' +
          //   token + '&model=es-ES_BroadbandModel';
          // var websocket = new WebSocket(wsURI);
          recognizeMicrophoneFN(token)
            .then((stream) => {
              recognizeStreamVar = stream;

              recognizeStreamVar.on('listening',function(){
                console.log("Ready to listen");
              })
              recognizeStreamVar.on('data',function(data){
                console.log(data);
                console.log(new TextDecoder("utf-8").decode(data));
              })
            })



          let bufferToSend = '';
          var handleSuccess = function(stream) {
            var context = new AudioContext();
            var input = context.createMediaStreamSource(stream)
            var processor = context.createScriptProcessor(1024,1,1);

            //Esto en la documentación está erroneamente como source.connect(processor);
            input.connect(processor);
            processor.connect(context.destination);
            processor.onaudioprocess = function(e){
              //Tomo la data de e.inputBuffer de lado izquierdo y la convierto a Buffer con convertFloat32toInt16
              bufferToSend = convertFloat32ToInt16(e.inputBuffer.getChannelData(0));
              //console.log(bufferToSend)
            };

          };
          navigator.mediaDevices.getUserMedia({ audio: true, video: false })
              .then(handleSuccess);

          function convertFloat32ToInt16(buffer) {
            l = buffer.length;
            buf = new Int16Array(l);
            while (l--) {
              buf[l] = Math.min(1, buffer[l])*0x7FFF;
            }
            return buf.buffer;
          }

      });

    </script>
  </body>
</html>
